* {
  box-sizing: border-box;
  transition: 0.5s ease !important;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(40, 44, 52);
  background: linear-gradient(145deg, rgba(40, 44, 52, 1) 0%, rgba(40, 44, 52, 1) 96%);
  /*   background: #2f7336;
  background: -webkit-linear-gradient(to right, #aa3a38, #2f7336);
  background: linear-gradient(to right, #aa3a38, #2f7336); */
  background-attachment: fixed;
}

.title {
  text-align: center;
  padding-top: 5%;
  color: wheat;
}

/* CHECKIN */
#checkin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 15px;
}

#checkin > * {
  margin: 10px;
  width: 80%;

  color: wheat;
}

#btn-checkin {
  width: 50%;
  border-radius: 60px;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #checkin {
    width: 95vw;
  }
}
